<!-- Navigation Partial Template -->
<header class="masthead mb-auto">
    <div class="inner">
        <style>
            h3 {
                text-align: center;
            }
            nav {
                text-align: center;
                word-spacing: 15px;
                font-size: 35px;
                font-weight: bold;
            }
        </style>
        <font size="10">
            <h3 class="masthead-brand">Interstellar Cargo Service</h3>
        </font>
        
        <nav class="nav nav-masthead justify-content-center">
            <a id='cargo' class="nav-link" href="/cargo">Cargo</a>
            <a id='spaceship' class="nav-link" href="/spaceship">Spaceship</a>
            <a id='captain' class="nav-link" href="/captain">Captain</a>
            <a id='log-out' class="nav-link" href="/">Log Out</a>
    </div>
</header>